@charset "UTF-8";

* {
  margin: 0%;
  padding: 0%;
}
@media only screen and (max-width: 680px) {
  body {
    background-color: pink;
  }

  body::after {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    z-index: -1;
  }
  a {
    cursor: pointer;
  }
  .main-header {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
  }
  img {
    display: none;
  }
  .header-navbar {
    width: fit-content;
    height: 100%;
  }

  .header-navbar ul {
    list-style: none;
    margin-left: 20px;
  }

  .header-navbar ul li {
    display: inline;
    float: left;
  }

  .header-navbar ul li a {
    padding: 0px 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 60px;
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
  }

  .header-navbar ul li a:hover {
    color: palevioletred;
  }

  .header-socials {
    width: fit-content;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;
  }

  .contact-logo {
    width: 50px;
    height: 50px;
    background-image: url("../Eportfolio/img/linkedin_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-logo:hover {
    background-image: url("../Eportfolio/img/linkedin_logo.png");
  }

  .socials {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .email {
    width: 50px;
    height: 50px;
    background-image: url("../Eportfolio/img/email_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: url(../Eportfolio/img/email_logo.png);
  }

  .email:hover {
    background-image: url("../Eportfolio/img/email_logo.png");
  }

  .phone {
    width: 50px;
    height: 50px;
    background-image: url("../Eportfolio/img/phone_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: url(../Eportfolio/img/phone_logo.png);
  }

  .phone:hover {
    background-image: url("../Eportfolio/img/phone_logo.png");
  }
}

@media only screen and (min-width: 641px) {
  body {
    background-color: pink;
  }
  .Butterfly {
    background-image: url(../Eportfolio/img/Butterfly.png);
  }
  body::after {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    z-index: -1;
  }
  a {
    cursor: pointer;
  }
  .main-header {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
  }
  .logo-header {
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    display: flex;
  }

  .logo-header img {
    height: 70px;
    align-self: center;
    width: 70px;
  }

  .header-navbar {
    width: fit-content;
    height: 100%;
  }

  .header-navbar ul {
    list-style: none;
    margin-left: 10px;
  }

  .header-navbar ul li {
    display: inline;
    float: left;
  }

  .header-navbar ul li a {
    padding: 0 8px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 100px;
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
  }

  .header-navbar ul li a:hover {
    color: palevioletred;
  }
  .header-socials {
    width: fit-content;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;
  }

  .header-socials-linkedin {
    width: 20px;
    height: 20px;
    background-image: url("../Eportfolio/img/linkedin_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-socials-linkedin:hover {
    background-image: url("../Eportfolio/img/linkedin_logo.png");
  }

  .contact-logo {
    width: 50px;
    height: 50px;
    background-image: url("../Eportfolio/img/linkedin_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-logo:hover {
    background-image: url("../Eportfolio/img/linkedin_logo.png");
  }

  .socials {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .email {
    width: 50px;
    height: 50px;
    background-image: url("../Eportfolio/img/email_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: url(../Eportfolio/img/email_logo.png);
  }

  .email:hover {
    background-image: url("../Eportfolio/img/email_logo.png");
  }

  .phone {
    width: 50px;
    height: 50px;
    background-image: url("../Eportfolio/img/phone_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: url(../Eportfolio/img/phone_logo.png);
  }

  .phone:hover {
    background-image: url("../Eportfolio/img/phone_logo.png");
  }
}
